{% extends 'crud/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.non_field_errors%}
        {% for error in form.non_field_errors %}
        <small style="color:red"><b>{{error}}</b></small>
        {% endfor %}
    {% endif %}
    <br>
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} <small style="color:red"><b>{{fm.errors|striptags}}</b></small></br>
    {% endfor %}
    <input type="submit" value="Change Password" class='btn btn-warning btn-lg'>
</form>
{% endblock content %} 